TRANSPORT=stdio
HTTP_PORT=8400
HTTP_HOST=127.0.0.1

# Auth: env | vault
AUTH_TYPE=env

# For auth.type=env
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

# For auth.type=vault
VAULT_ADDR=
VAULT_ROLE_ID=
VAULT_SECRET_ID=
